.new-advert {
  display: grid;
  place-items: center;
}

.adverts {
  display: flex;
  flex-wrap: wrap;
  gap: 2rem;
}

.advert {
  border: 1px solid black;
  border-radius: 5px;
  padding: 1.5rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

.advert-detail {
  background-color: rgb(166, 221, 218);
  justify-content: center;
}
.advert-detail p {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}
