.layout {
  display: grid;
  grid-template-rows: 100px 1fr 200px;
  row-gap: 2rem;
}

.header {
  border: 1px solid black;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1rem;
}

.footer {
  border: 1px solid black;
  padding: 3rem;
}
